// colors
$primary-color: #4ab52f;
$secondary-color: #CE3648;
$tertiary-color: complement($primary-color);
$black: #222222;

$body-bg-color: #292929;

// swagger ui
$swager-ui-topbar-color: #292929;

// Remote Control
$remote-ctl-bg: #292929;
$footer-bg-color: #292929;

// power button
$power-btn-bg: $secondary-color;

// volume control
$vol-ctl-bg: $primary-color;
$vol-ctl-border-color: #fff;
$vol-ctl-btn-bg-color: #fff;
$vol-ctl-mute-btn-size: 39%;
$vol-ctl-wrap-bg: $vol-ctl-bg;

// source button
$source-btn-bg: $tertiary-color;

// settings button
$settings-btn-bg: $primary-color;