// Bootstrap
$primary-color: #4ab52f;
$secondary-color: #CE3648;
$tertiary-color: complement($primary-color);
$black: #222222;

// Swagger UI
$swager-ui-topbar-color: #292929;

// $shadow: rgba(0, 0, 0, 0.4);
// $shadow2: rgba(56, 56, 56, 0.4);
// $button-in: #fff;
// $button-out: #eee;
// $footer-bg-color: #292929;
// $remote-control-bg: #292929;
// $button-bg-color: #fff;


$body-bg-color: #292929;
// Remote Control
$remote-ctl-bg: #292929;
$footer-bg-color: #292929;

// power button
$power-btn-bg: $secondary-color;

// volume control
$vol-ctl-bg: $primary-color;
$vol-ctl-border-color: #fff;
$vol-ctl-btn-bg-color: #fff;

// source button
$source-btn-bg: $tertiary-color;

// settings button
$settings-btn-bg: $primary-color;