@import "_variables";

// Custom Styles
body {
  background-color: $remote-control-bg;
  color: #fff;
}

.footer {
  background-color: $footer-bg-color;
}

.site-header {
  nav.navbar {
    background-color: $primary-color;

    .navbar-brand {
      font-size: 2rem;
      font-weight: 600;
    }
  }
}

.remote-control {
  button {
    color: #fff;
  }

  button,
  .btn {
    &:focus,
    &.focus {
      outline: none;
      box-shadow: none;
    }
  }

  hr {
    border-color: $light-primary-color;
  }

  background-color: #292929;

  .btn-circle {
    text-align: center;
    padding: 0;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    font-size: 1.3rem;
  }

  .power-btn {
    background: $secondary-color;
  }

  .source-btn {
    width: 100px !important;
    background: $tertiary-color;
  }

  .settings-btn-group {
    .settings-btn {
      background: $primary-color;
      height: 70px;
      width: 80px;
      color: rgba(0, 0, 0, 0.15);
      text-shadow: 1px 1px 2px #fff, 0px 0px 0px rgba(0, 0, 0, 0.4);

      &:first-of-type {
        border-radius: 50% 50% 0 0;
      }

      &:last-of-type {
        border-radius: 0 0 50% 50%;
      }
    }

    .setting-name {
      text-align: center;
      font-size: 0.8rem;
      line-height: 3em;
      width: 100%;
    }
  }
}

nav.volume-control {
  width: 300px;
  height: 300px;
  background: $vol-ctl-bg;
  border-radius: 50%;
  padding: 1%;
  transform: rotate(45deg);
  box-sizing: border-box;
  position: relative;
  border: 10px solid $vol-ctl-border-color;

  a {
    text-decoration: none;
  }

  .button {
    border: none;
    background: $vol-ctl-btn-bg-color;
    span {
      transform: rotate(-45deg);
      position: absolute;
      font-size: 15px;
      line-height: 20px;
      text-align: center;
      display: block;
      color: rgba(0, 0, 0, 0.15);
      text-shadow: 1px 1px 2px #fff, 0px 0px 0px rgba(0, 0, 0, 0.4);
      // font-weight: 500;
      // font-family: impact;
  
      &.woof,
      &.mute {
        width: 50px;
      }
  
      &.vol {
        width: 40px;
      }
    }
  }

  .center-button {
    display: block;
    height: 40%;
    width: 40%;
    position: absolute;
    top: 30%;
    left: 30%;
    border-radius: 50%;

    span {
      top: 35px;
      left: 35px;
    }
  }

  .vol-btn {
    display: block;
    width: 46%;
    height: 46%;
    margin: 2%;
    position: relative;
    float: left;

    &::after {
      content: "";
      display: block;
      width: 50%;
      height: 50%;
      background: $vol-ctl-bg;
      position: absolute;
      border-radius: inherit;
    }

    &.top {
      border-radius: 100% 0 0 0;
      &::after {
        bottom: 0;
        right: 0;
        box-shadow: inset 2px 2px 2px 0 $vol-ctl-bg, 5px 5px 0 5px $vol-ctl-bg;
        transform: skew(-3deg, -3deg) scale(0.96);
      }

      span {
        top: 35px;
        left: 35px;
      }
    }

    &.right {
      border-radius: 0 100% 0 0;
      &::after {
        bottom: 0;
        left: 0;
        box-shadow: inset -2px 2px 2px 0 $vol-ctl-bg, -5px 5px 0 5px $vol-ctl-bg;
        transform: skew(3deg, 3deg) scale(0.96);
      }

      span {
        top: 40px;
        left: 50px;
      }
    }

    &.left {
      border-radius: 0 0 0 100%;
      &::after {
        top: 0;
        right: 0;
        box-shadow: inset 2px -2px 2px 0 $vol-ctl-bg, 5px -5px 0 5px $vol-ctl-bg;
        transform: skew(3deg, 3deg) scale(0.96);
      }

      span {
        top: 45px;
        left: 45px;
      }
    }

    &.bottom {
      border-radius: 0 0 100% 0;
      &::after {
        top: 0;
        left: 0;
        box-shadow: inset -2px -2px 2px 0 $vol-ctl-bg, -5px -5px 0 5px $vol-ctl-bg;
        transform: skew(-3deg, -3deg) scale(0.96);
      }

      span {
        top: 40px;
        left: 40px;
      }
    }
  }


}


/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */

@media (min-width: 768px) {
  body {
    background-color: $background-color;
  }

  .remote-control {
    border-radius: .25rem !important;
    padding: 1rem !important;
    border: 1px solid rgba(0, 0, 0, 0.3) !important;
    margin-bottom: 3rem;
  }
}