@import "_vendors";

html,
body {
  min-height: 100vh;
}

// General
.btn {
  display: block;
  padding: 0.6rem 1rem;
  border-radius: 4px;
}

.btn-circle {
  border-radius: 50%;
  height: 70px;
  width: 70px;
}

.btn,
.btn-circle{
  border: 1px solid rgba(0, 0, 0, 0.3);
  &:focus {
    border: none;
  }
  &:hover {
    text-decoration: none;
  }
}

.flex-justify-content-end {
  display: flex;
  justify-content: flex-end;
}

//////////////////
body {
  display: flex;
  flex-direction: column;
  background-color: #222222;
}

.site-header {
  background-color: $primary-color;

  a {
    color: #222;

    &:hover {
      text-decoration: none;
    }
  }

  .navbar {
    padding: 1rem;

    .brand-logo {
      margin-right: 1rem;
    }

    .brand-name {
      display: inline-block;
      font-weight: 700;
      font-size: 2rem;
      font-weight: 600;
    }
  }
}

.main-content {
  flex: 1 0 auto;
}

.site-footer {
  padding: 0.5rem;
  background: $footer-bg-color;
  color: #fff;
  flex-shrink: 0;
  font-size: 0.8rem;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 0 auto;
    max-width: 1000px;
    a {
      color: $primary-color;
      &:hover {
        color: lighten($primary-color,10%);
      }
    }
    .btn {
      border: 1px solid rgba(darken($primary-color,10%),0.4);
      background: $primary-color;
      color: #fff;
    }
  }
}



// Remote Control
$remote-ctl-bg: #292929;
$volume-ctl-bg: $primary-color;
$volume-ctl-wrap-bg: $volume-ctl-bg;
$volume-ctl-btn-bg-color: #fff;
$volume-ctl-mute-btn-size: 39%;

.remote-control {
  width: 400px;
  margin: 0 auto;
  padding: 1rem;
  background: $remote-ctl-bg;
}

// Volume Control SCSS
.volume-control {
  background: inherit;
  overflow: hidden;

  .wrap {
    position: relative;
    transform: rotate(45deg);
    width: 320px;
    height: 320px;
    margin: 0 auto;
    background: $volume-ctl-wrap-bg;
    overflow: hidden;
    border-radius: 50%;
    border: 8px solid $volume-ctl-btn-bg-color;

    button {
      position: absolute;
      left: 3%;
      top: 3%;
      width: 45%;
      height: 45%;
      overflow: hidden;
      background: $volume-ctl-btn-bg-color;
      border: none;

      &:focus {
        border: none;
      }

      &:hover {
        background: darken($volume-ctl-btn-bg-color, 5%);
      }

      div {
        transform: rotate(-45deg);
        background-size: cover;
        width: 50px;
        font-size: 1rem;
        margin: 0 auto;

        i {
          // color: rgba(0, 0, 0, 0.15);
          color: rgba($volume-ctl-bg, 0.4);
          text-shadow: 1px 1px 2px #fff, 0px 0px 0px rgba(0, 0, 0, 0.4);
        }

        span {
          font-size: 0.8rem;
        }
      }

      &:nth-child(1) {
        border-radius: 40vmin 0 0 0;
      }

      &:nth-child(2) {
        border-radius: 0 40vmin 0 0;
        left: 51.5%;
      }

      &:nth-child(3) {
        border-radius: 0 0 0 40vmin;
        top: 51.5%;
      }

      &:nth-child(4) {
        border-radius: 0 0 40vmin 0;
        top: 51.5%;
        left: 51.5%;
      }

      &:nth-child(5) {
        width: $volume-ctl-mute-btn-size;
        height: $volume-ctl-mute-btn-size;
        left: 50%;
        top: 50%;
        margin-left: ($volume-ctl-mute-btn-size/2)*-1;
        margin-top: ($volume-ctl-mute-btn-size/2)*-1;
        border-radius: 50vmin;
        box-shadow: 0 0 0 1.7vmin $volume-ctl-wrap-bg;
      }
    }
  }
}