footer.footer.mt-auto.py-3
    .container
        .d-flex.bd-highlight
            .p-2.flex-grow-1.bd-highlight
                span.text-muted &copy; Copyright #{new Date().getFullYear()}, #[a(href="https://swart.ninja") SwartNinja]
            .p-2.bd-highlight
                button(href="#", type="button").btn.btn-outline-dark.btn-sm Refresh