footer.footer.mt-auto.py-2.d-none.d-sm-block
    .container
        .d-flex.bd-highlight
            .p-2.flex-grow-1.bd-highlight
                span.text-muted &copy; Copyright #{new Date().getFullYear()}, #[a(href="https://swart.ninja") SwartNinja]
            .p-2.bd-highlight
                a(href="/api/docs").btn.btn-outline-primary.btn-sm Swagger