header.site-header.d-none.d-sm-block
    nav.navbar.sticky-top.navbar-dark
        a(href="/").navbar-brand
            img(src="/images/SwartNinjaLogoV2.svg" height="50" class="d-inline-block" alt="")
            span.ml-4 #{navBarTitle}