header(role="navigation").site-header
    nav.navbar
        a(href="/").navbar-brand
            img(src="/images/SwartNinjaLogoV2.svg" height="50" alt="").brand-logo
            h2.brand-name #{navBarTitle}