header.site-header
    nav.navbar.navbar-light.bg-light
        a(href="/").navbar-brand
            img(src="/images/SwartNinjaLogoV2.svg" height="50" class="d-inline-block" alt="")
            span.p-2 #{navBarTitle}