extends structure/_layout

block content
  .error-page
    .title-block
      h2.error-code #{error.status}
      div.error-msg #{message}

    if isDev
      .stack-trace-box
        div(role="alert")
          pre
            code #{error.stack}
