extends structure/_layout

block content
  .remote-control
    .flex-justify-content-end
      button(href="/api/v1/remote/POWER" type="button").cmd-link.cmd-once.btn.power-btn.btn-circle #[i.fas.fa-power-off.fa-2x]

    .volume-control
      nav.wrap
        button(href="/api/v1/remote/WOOF+" type="button").button.vol-btn.top.cmd-link.cmd-repeater
          div
            i.fas.fa-plus.fa-2x
            span WOOF
        button(href="/api/v1/remote/VOL+" type="button").button.vol-btn.right.cmd-link.cmd-repeater
          div
            i.fas.fa-plus.fa-2x
            span VOL
        button(href="/api/v1/remote/VOL-" type="button").button.vol-btn.left.cmd-link.cmd-repeater
          div
            i.fas.fa-minus.fa-2x
            span VOL
        button(href="/api/v1/remote/WOOF-" type="button").button.vol-btn.bottom.cmd-link.cmd-repeater
          div
            i.fas.fa-minus.fa-2x
            span WOOF
        button(href="/api/v1/remote/MUTE" type="button").button.center-button.cmd-link.cmd-once
          div
            i.fas.fa-volume-mute.fa-2x
            span MUTE

    .flex-justify-content-space-between
      button(href="/api/v1/remote/5.1" type="button").cmd-link.cmd-once.btn.source-btn 5.1
      button(href="/api/v1/remote/AUX" type="button").cmd-link.cmd-once.btn.source-btn AUX

    .flex-justify-content-space-around.settings-btn-container
      div(role="group").settings-btn-group
        button(href="/api/v1/remote/SURR+" type="button").cmd-link.cmd-repeater.btn.settings-btn #[i.fas.fa-plus.fa-2x]
        .setting-name SURROUND
        button(href="/api/v1/remote/SURR-" type="button").cmd-link.cmd-repeater.btn.settings-btn #[i.fas.fa-minus.fa-2x]
      div(role="group").settings-btn-group
        button(href="/api/v1/remote/CEN+" type="button").cmd-link.cmd-repeater.btn.settings-btn #[i.fas.fa-plus.fa-2x]
        .setting-name CENTER
        button(href="/api/v1/remote/CEN-" type="button").cmd-link.cmd-repeater.btn.settings-btn #[i.fas.fa-minus.fa-2x]
      div(role="group").settings-btn-group
        button(href="/api/v1/remote/FRONT+" type="button").cmd-link.cmd-repeater.btn.settings-btn #[i.fas.fa-plus.fa-2x]
        .setting-name FRONT
        button(href="/api/v1/remote/FRONT-" type="button").cmd-link.cmd-repeater.btn.settings-btn #[i.fas.fa-minus.fa-2x]


    .flex-justify-content-space-between
      button(href="/api/v1/remote/RESET" type="button").cmd-link.cmd-once.btn.function-btn RESET
      button(href="/api/v1/refresh" type="button").cmd-link.cmd-once.btn.function-btn REFRESH
