// Bootstrap
$primary-color: #4ab52f;
$secondary-color: #CE3648;
// $tertiary-color: #D77838;
$tertiary-color: complement($primary-color);
$background-color: #222222;
$dark-primary-color: #1c7804;
$light-primary-color: #91e07c;
$bg: $primary-color;
$shadow: rgba(0, 0, 0, 0.4);
$shadow2: rgba(56, 56, 56, 0.4);
$button-in: #fff;
$button-out: #eee;
$footer-bg-color: #292929;
$remote-control-bg: #292929;
// Custom Styles
body {
  background-color: $remote-control-bg;
  color: #fff;
}

.footer {
  background-color: $footer-bg-color;
}

.site-header {
  nav.navbar {
    background-color: $primary-color;
    .navbar-brand {
      font-size: 2rem;
      font-weight: 600;
    }
  }
}

.remote-control {
  hr {
    border-color: $light-primary-color;
  }
  // background-color: rgba(0, 0, 0, 0.1);
  background-color: #292929;
  .btn-circle {
    text-align: center;
    padding: 0;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    font-size: 1.3rem;
  }
  .power-btn {
    background: $secondary-color;
    color: #fff;
  }
  .source-btn {
    width: 100px !important;
    // background: $primary-color;
    background: $tertiary-color;
    color: white;
  }
  .settings-btn-group {
    .settings-btn {
      background: $primary-color;
      height: 70px;
      width: 80px;
      color: #fff;
      &:first-of-type {
        border-radius: 50% 50% 0 0;
      }
      &:last-of-type {
        border-radius: 0 0 50% 50%;
      }
    }
    .setting-name {
      text-align: center;
      font-size: 0.8rem;
      line-height: 3em;
      width: 100%;
    }
  }
}

nav.volume-control {
  width: 300px;
  height: 300px;
  background: $bg;
  border-radius: 50%;
  padding: 10px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  transform: rotate(45deg);
  box-shadow: inset -6px 0 6px -3px #ddd, inset 6px 0 6px -3px #fff, inset 0 0 0 6px #eee, inset 1px 0 2px 6px $shadow, 1px 0 4px rgba(0, 0, 0, 0.8);
  box-sizing: border-box;
  position: relative;
  a {
    text-decoration: none;
  }
  .center-button {
    display: block;
    height: 38%;
    width: 38%;
    position: absolute;
    top: 31%;
    left: 31%;
    background: #fff;
    border-radius: 50%;
    box-shadow: 1px 0 4px rgba(0, 0, 0, 0.8);
    span {
      top: 35px;
      left: 35px;
    }
  }
  .button {
    display: block;
    width: 46%;
    height: 46%;
    margin: 2%;
    position: relative;
    float: left;
    box-shadow: 1px 0px 3px 1px $shadow, inset 0 0 0 1px #fff;
    &::after {
      content: "";
      display: block;
      width: 50%;
      height: 50%;
      background: $bg;
      position: absolute;
      border-radius: inherit;
    }
    &.top {
      border-radius: 100% 0 0 0;
      background: -webkit-radial-gradient( bottom right, ellipse cover, $button-in 35%, $button-out 75%);
      background: radial-gradient( bottom right, ellipse cover, $button-in 35%, $button-out 75%);
      &::after {
        bottom: 0;
        right: 0;
        box-shadow: inset 2px 2px 2px 0 $shadow2, 5px 5px 0 5px $bg;
        -webkit-transform: skew(-3deg, -3deg) scale(0.96);
        -moz-transform: skew(-3deg, -3deg) scale(0.96);
        transform: skew(-3deg, -3deg) scale(0.96);
      }
      span {
        top: 40px;
        left: 40px;
      }
    }
    &.right {
      border-radius: 0 100% 0 0;
      background: -webkit-radial-gradient( bottom left, ellipse cover, $button-in 35%, $button-out 75%);
      &::after {
        bottom: 0;
        left: 0;
        box-shadow: inset -2px 2px 2px 0 $shadow2, -5px 5px 0 5px $bg;
        -webkit-transform: skew(3deg, 3deg) scale(0.96);
        -moz-transform: skew(3deg, 3deg) scale(0.96);
        transform: skew(3deg, 3deg) scale(0.96);
      }
      span {
        top: 40px;
        left: 50px;
      }
    }
    &.left {
      border-radius: 0 0 0 100%;
      background: -webkit-radial-gradient( top right, ellipse cover, $button-in 35%, $button-out 75%);
      background: radial-gradient( top right, ellipse cover, $button-in 35%, $button-out 75%);
      &::after {
        top: 0;
        right: 0;
        box-shadow: inset 2px -2px 2px 0 $shadow2, 5px -5px 0 5px $bg;
        -webkit-transform: skew(3deg, 3deg) scale(0.96);
        -moz-transform: skew(3deg, 3deg) scale(0.96);
        transform: skew(3deg, 3deg) scale(0.96);
      }
      span {
        top: 45px;
        left: 45px;
      }
    }
    &.bottom {
      border-radius: 0 0 100% 0;
      background: -webkit-radial-gradient( top left, ellipse cover, $button-in 35%, $button-out 75%);
      background: radial-gradient( top left, ellipse cover, $button-in 35%, $button-out 75%);
      &::after {
        top: 0;
        left: 0;
        box-shadow: inset -2px -2px 2px 0 $shadow2, -5px -5px 0 5px $bg;
        // box-shadow: inset -2px -3px 2px -2px $shadow, -10px -10px 0 10px $bg;
        -webkit-transform: skew(-3deg, -3deg) scale(0.96);
        -moz-transform: skew(-3deg, -3deg) scale(0.96);
        transform: skew(-3deg, -3deg) scale(0.96);
      }
      span {
        top: 40px;
        left: 40px;
      }
    }
  }
  span {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    transform: rotate(-45deg);
    position: absolute;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    display: block;
    color: rgba(0, 0, 0, 0.15);
    text-shadow: 1px 1px 2px #fff, 0px 0px 0px rgba(0, 0, 0, 0.4);
    font-family: impact;
    &.woof,
    &.mute {
      width: 50px;
    }
    &.vol {
      width: 40px;
    }
  }
}


/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */

@media (min-width: 768px) {
  body {
    background-color: $background-color;
  }
  .remote-control {
    border-radius: .25rem!important;
    padding: 1rem!important;
    border: 1px solid rgba(0, 0, 0, 0.3)!important;
    margin-bottom: 3rem;
  }
}