body {
  background-color: #292929;
  color: #fff; }

.footer {
  background-color: #292929; }

.site-header nav.navbar {
  background-color: #4ab52f; }
  .site-header nav.navbar .navbar-brand {
    font-size: 2rem;
    font-weight: 600; }

.remote-control {
  background-color: #292929; }
  .remote-control hr {
    border-color: #91e07c; }
  .remote-control .btn-circle {
    text-align: center;
    padding: 0;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    font-size: 1.3rem; }
  .remote-control .power-btn {
    background: #CE3648;
    color: #fff; }
  .remote-control .source-btn {
    width: 100px !important;
    background: #9a2fb5;
    color: white; }
  .remote-control .settings-btn-group .settings-btn {
    background: #4ab52f;
    height: 70px;
    width: 80px;
    color: #fff; }
    .remote-control .settings-btn-group .settings-btn:first-of-type {
      border-radius: 50% 50% 0 0; }
    .remote-control .settings-btn-group .settings-btn:last-of-type {
      border-radius: 0 0 50% 50%; }
  .remote-control .settings-btn-group .setting-name {
    text-align: center;
    font-size: 0.8rem;
    line-height: 3em;
    width: 100%; }

nav.volume-control {
  width: 300px;
  height: 300px;
  background: #4ab52f;
  border-radius: 50%;
  padding: 10px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  transform: rotate(45deg);
  box-shadow: inset -6px 0 6px -3px #ddd, inset 6px 0 6px -3px #fff, inset 0 0 0 6px #eee, inset 1px 0 2px 6px rgba(0, 0, 0, 0.4), 1px 0 4px rgba(0, 0, 0, 0.8);
  box-sizing: border-box;
  position: relative; }
  nav.volume-control a {
    text-decoration: none; }
  nav.volume-control .center-button {
    display: block;
    height: 38%;
    width: 38%;
    position: absolute;
    top: 31%;
    left: 31%;
    background: #fff;
    border-radius: 50%;
    box-shadow: 1px 0 4px rgba(0, 0, 0, 0.8); }
    nav.volume-control .center-button span {
      top: 35px;
      left: 35px; }
  nav.volume-control .button {
    display: block;
    width: 46%;
    height: 46%;
    margin: 2%;
    position: relative;
    float: left;
    box-shadow: 1px 0px 3px 1px rgba(0, 0, 0, 0.4), inset 0 0 0 1px #fff; }
    nav.volume-control .button::after {
      content: "";
      display: block;
      width: 50%;
      height: 50%;
      background: #4ab52f;
      position: absolute;
      border-radius: inherit; }
    nav.volume-control .button.top {
      border-radius: 100% 0 0 0;
      background: -webkit-radial-gradient(bottom right, ellipse cover, #fff 35%, #eee 75%);
      background: radial-gradient(bottom right, ellipse cover, #fff 35%, #eee 75%); }
      nav.volume-control .button.top::after {
        bottom: 0;
        right: 0;
        box-shadow: inset 2px 2px 2px 0 rgba(56, 56, 56, 0.4), 5px 5px 0 5px #4ab52f;
        -webkit-transform: skew(-3deg, -3deg) scale(0.96);
        -moz-transform: skew(-3deg, -3deg) scale(0.96);
        transform: skew(-3deg, -3deg) scale(0.96); }
      nav.volume-control .button.top span {
        top: 40px;
        left: 40px; }
    nav.volume-control .button.right {
      border-radius: 0 100% 0 0;
      background: -webkit-radial-gradient(bottom left, ellipse cover, #fff 35%, #eee 75%); }
      nav.volume-control .button.right::after {
        bottom: 0;
        left: 0;
        box-shadow: inset -2px 2px 2px 0 rgba(56, 56, 56, 0.4), -5px 5px 0 5px #4ab52f;
        -webkit-transform: skew(3deg, 3deg) scale(0.96);
        -moz-transform: skew(3deg, 3deg) scale(0.96);
        transform: skew(3deg, 3deg) scale(0.96); }
      nav.volume-control .button.right span {
        top: 40px;
        left: 50px; }
    nav.volume-control .button.left {
      border-radius: 0 0 0 100%;
      background: -webkit-radial-gradient(top right, ellipse cover, #fff 35%, #eee 75%);
      background: radial-gradient(top right, ellipse cover, #fff 35%, #eee 75%); }
      nav.volume-control .button.left::after {
        top: 0;
        right: 0;
        box-shadow: inset 2px -2px 2px 0 rgba(56, 56, 56, 0.4), 5px -5px 0 5px #4ab52f;
        -webkit-transform: skew(3deg, 3deg) scale(0.96);
        -moz-transform: skew(3deg, 3deg) scale(0.96);
        transform: skew(3deg, 3deg) scale(0.96); }
      nav.volume-control .button.left span {
        top: 45px;
        left: 45px; }
    nav.volume-control .button.bottom {
      border-radius: 0 0 100% 0;
      background: -webkit-radial-gradient(top left, ellipse cover, #fff 35%, #eee 75%);
      background: radial-gradient(top left, ellipse cover, #fff 35%, #eee 75%); }
      nav.volume-control .button.bottom::after {
        top: 0;
        left: 0;
        box-shadow: inset -2px -2px 2px 0 rgba(56, 56, 56, 0.4), -5px -5px 0 5px #4ab52f;
        -webkit-transform: skew(-3deg, -3deg) scale(0.96);
        -moz-transform: skew(-3deg, -3deg) scale(0.96);
        transform: skew(-3deg, -3deg) scale(0.96); }
      nav.volume-control .button.bottom span {
        top: 40px;
        left: 40px; }
  nav.volume-control span {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    transform: rotate(-45deg);
    position: absolute;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    display: block;
    color: rgba(0, 0, 0, 0.15);
    text-shadow: 1px 1px 2px #fff, 0px 0px 0px rgba(0, 0, 0, 0.4);
    font-family: impact; }
    nav.volume-control span.woof, nav.volume-control span.mute {
      width: 50px; }
    nav.volume-control span.vol {
      width: 40px; }

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {
  body {
    background-color: #222222; }
  .remote-control {
    border-radius: 0.25rem !important;
    padding: 1rem !important;
    border: 1px solid rgba(0, 0, 0, 0.3) !important;
    margin-bottom: 3rem; } }

/*# sourceMappingURL=main.css.map */